In [1]:
# 整数の代入
a = 10
b = -5
c = 0

# 整数同士の計算
sum_result = a + b # 10 + (-5) = 5
product_result = a * b # 10 * (-5) = -50

print("a:", a)
print("b:", b)
print("c:", c)
print("合計:", sum_result)
print("積:", product_result)

a: 10
b: -5
c: 0
合計: 5
積: -50

In [2]:
# 除算の例
division_result = a / 3 # 結果は 3.3333333333333335 (float型)
integer_division_result = a // 3 # 結果は 3 (int型)

print("除算結果:", division_result)
print("整数除算結果:", integer_division_result)

除算結果: 3.3333333333333335
整数除算結果: 3

In [4]:
# 浮動小数点数の代入
x = 3.14
y = -0.5
z = 2.0 # 小数点を付けるとfloat型になる

# 浮動小数点数の計算
sum_result = x + y # 3.14 + (-0.5) = 2.64
product_result = x * y # 3.14 * (-0.5) = -1.57

print("x:", x)
print("y:", y)
print("z:", z)
print("合計:", sum_result)
print("積:", product_result)

x: 3.14
y: -0.5
z: 2.0
合計: 2.64
積: -1.57

In [5]:
# 浮動小数点数の誤差の例
result = 0.1 + 0.2
print("0.1 + 0.2 の結果:", result)

0.1 + 0.2 の結果: 0.30000000000000004

In [6]:
a = 10 # int型
b = float(a) # float型に変換

print("a の型:", type(a))
print("b の型:", type(b))

a の型: <class 'int'>
b の型: <class 'float'>

In [7]:
x = 3.99 # float型
y = int(x) # int型に変換（小数部分は切り捨て）

print("x の型:", type(x))
print("y の型:", type(y))
print("y の値:", y)

x の型: <class 'float'>
y の型: <class 'int'>
y の値: 3

In [8]:
num = 1.23e4
print(num) # 出力: 12300.0

12300.0

In [9]:
num = 1.23e-4
print(num) # 出力: 0.000123

0.000123

In [10]:
# 複素数の代入
c1 = 2 + 3j
c2 = -1 + 0.5j

# 複素数の計算
sum_result = c1 + c2 # (2 + (-1)) + (3j + 0.5j) = 1 + 3.5j
product_result = c1 * c2 # 複素数の掛け算

print("c1:", c1)
print("c2:", c2)
print("合計:", sum_result)
print("積:", product_result)

c1: (2+3j)
c2: (-1+0.5j)
合計: (1+3.5j)
積: (-3.5-2j)

In [11]:
text1 = "「'」はシングルクォートです。"
text2 = '「"」はダブルクォートです。'
print(text1)
print(text2)

「'」はシングルクォートです。
「"」はダブルクォートです。

In [12]:
text1 = "Hello"
text2 = 'World'
result = text1 + " " + text2
print(result) # 'Hello World'

# 文字列の繰り返し
text = "Hi! "
print(text * 3) # 'Hi! Hi! Hi! '

# 文字列の長さを取得
length = len("Hello, World!") # 13
print("文字列の長さ:", length)

Hello World
Hi! Hi! Hi!
文字列の長さ: 13

In [14]:
# 大文字や小文字に変換
text = "Python"
print(text.upper()) # 'PYTHON'
print(text.lower()) # 'python'

# 部分文字列を置換
text = "Hello, World"
print(text.replace("World", "Python")) # 'Hello, Python'

# 前後の空白や指定した文字を削除
text = "   Hello, World!   "
print(text.strip()) # 'Hello, World!'

# 部分文字列の最初の位置を検索
text = "Hello, World"
print(text.find("World")) # 7

PYTHON
python
Hello, Python
Hello, World!
7

In [17]:
print("エスケープを使うと、「\'」シングルクォートと「\"」ダブルクォートを混在させたり、\n改行や\tタブを入れたりと多彩な表現が可能です")

エスケープを使うと、「'」シングルクォートと「"」ダブルクォートを混在させたり、
改行や	タブを入れたりと多彩な表現が可能です

In [21]:
message = '''A様
いつもお世話になっております。Bです。
先日はお越しくださりありがとうございました。
またのご来店をお待ちしております。'''

print(message)

A様
いつもお世話になっております。Bです。
先日はお越しくださりありがとうございました。
またのご来店をお待ちしております。

In [22]:
price = "100"
print("税込み価格は", price * 1.1, "円です")

TypeError: can't multiply sequence by non-int of type 'float'

In [23]:
num = 100 # int型
num_str = str(num) # 文字列型に変換

print("num_str の型:", type(num_str))
print("num_str の値:", num_str)

# 文字列から数値へ
str_value = "250"
int_value = int(str_value)

print("int_value の型:", type(int_value))
print("int_value の値:", int_value)

num_str の型: <class 'str'>
num_str の値: 100
int_value の型: <class 'int'>
int_value の値: 250

In [2]:
name = input("名前を入力してください: ")
print("こんにちは、" + name + "さん！")

こんにちは、太郎さん！

In [3]:
num = int(input("数値を入力してください: "))
result = num + 10
print("入力した数値に10を足すと:", result)

入力した数値に10を足すと: 15

In [ ]:
# 比較演算子
a = 5
b = 10

# aがbより小さいかどうかを比較
result = a < b # これはTrue

# aとbが等しいかどうかを比較
equal_result = a == b # これはFalse

print("a < b:", result)
print("a == b:", equal_result)

a < b: True
a == b: False

In [5]:
# ブール地の変換される値の例
print(bool(0)) # False
print(bool(1)) # True
print(bool("")) # False（空の文字列はFalse）
print(bool("Hello")) # True（非空の文字列はTrue）

False
True
False
True

In [6]:
# Trueは1として扱われ、Falseは0として扱われる
print(True + True) # 1 + 1 = 2
print(True * 10) # 1 * 10 = 10
print(False + 5) # 0 + 5 = 5

2
10
5

In [7]:
name = "ジョン"
age = 30
print(f"私の名前は{name}です。私は{age}歳です。")

私の名前はジョンです。私は30歳です。

In [8]:
a = 5
b = 10
print(f"{a}足す{b}は{a + b}です。")

5足す10は15です。

In [ ]:
# 小数点以下の桁数
pi = 3.14159
print(f"小数点以下の桁数: {pi:.2f}") # 2桁に指定

# カンマ区切り
large_number = 1234567890
print(f"カンマ区切り{large_number:,}")

# 文字列の出力幅
name = "Alice"
print(f"文字列の幅「{name:10}」") # 10文字分の幅で表示

# ゼロ埋め
num = 42
print(f"ゼロ埋め{num:05}") # 5桁で表示し、足りない部分はゼロで埋める

# パーセント表示
accuracy = 0.856
print(f"パーセント表示：{accuracy:.1%}")

# 揃え
name = "Alice"
print(f"左揃え　「{name:<10}」") # 左揃えで10文字幅
print(f"右揃え　「{name:>10}」") # 右揃えで10文字幅
print(f"中央揃え　「{name:^10}」") # 中央揃えで10文字幅

from datetime import datetime
now = datetime.now()
print(f"現在日時: {now:%Y-%m-%d %H:%M:%S}")

小数点以下の桁数: 3.14です。
カンマ区切り1,234,567,890
文字列の幅「Alice     」
ゼロ埋め00042
パーセント表示：85.6%
左揃え　「Alice     」
右揃え　「     Alice」
中央揃え　「  Alice   」
現在日時: 2025-04-28 19:01:43